.swiper-container {
  overflow: hidden;
  }

html,
body {
  font-family: "Open Sans", sans-serif;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
