<%- include('../header') -%>
<main>
  <div role="alert">
    <div
      class="border border-t-0 0 rounded-b px-4 py-3"
      style="color: white; background-color: darkorange"
    >
      Atenção
    </div>
    <div
      class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
    >
      <p><%= mensagem %></p>
    </div>
  </div>
  <div
    class="w-full max-w-xs"
    style="margin-left: auto; margin-right: auto; padding-top: 50px"
  >
    <form
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      action="/login"
      method="post"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Entre com o email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="email"
          id="email"
          type="email"
          autofocus
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password"
        >
          Entre com a senha
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="password"
          id="password"
          type="password"
        />
      </div>

      <div class="flex items-center justify-between">
        <button
          class="inline-flex items-center bg-indigo-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
          type="submit"
        >
          Entrar
        </button>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      Não possui uma conta?
      <a class="text-gray-900" href="/registro">Registre-se</a>
    </p>
  </div>
</main>

<%- include('../footer') -%>
