<%- include('../header') -%>
<div role="alert">
  <div
    class="border border-t-0 0 rounded-b px-4 py-3"
    style="color: white; background-color: darkorange"
  >
    Atenção
  </div>
  <div
    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
  >
    <p><%= mensagem %></p>
  </div>
</div>
<div
  class="w-full max-w-lg"
  style="margin-left: auto; margin-right: auto; padding-top: 50px"
>
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    action="/registro"
    method="post"
  >
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label class="block text-gray-700 text-sm font-bold sm-2" for="nome"
          >Nome</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        id="nome"
        name="nome"
        placeholder="Nome"
        required
      />
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label class="block text-gray-700 text-sm font-bold sm-2" for="apelido"
          >Apelido</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        id="apelido"
        name="apelido"
        placeholder="Apelido"
        required
      />
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-700 text-sm font-bold sm-2"
          for="nascimento"
          >Data de nascimento</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date"
        id="nascimento"
        name="nascimento"
        required
      />
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label class="block text-gray-700 text-sm font-bold sm-2" for="cidade"
          >Cidade</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        id="cidade"
        name="cidade"
        placeholder="Cidade"
        required
      />
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label class="block text-gray-700 text-sm font-bold sm-2" for="email"
          >Email</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label class="block text-gray-700 text-sm font-bold sm-2" for="password"
          >Senha</label
        >
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="password"
        id="password"
        name="password"
        placeholder="Senha"
        required
      />
    </div>

    <div class="flex items-center justify-between">
      <button
        class="inline-flex items-center bg-indigo-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        id="btnSalvar"
        type="submit"
      >
        Registrar
      </button>
    </div>
  </form>
</div>

<script>
  const pessoa = <%- JSON.stringify(pessoa) %>;
  console.log(pessoa)
  if (pessoa) {
    document.getElementById("nome").value = pessoa.nome;
    document.getElementById("apelido").value = pessoa.apelido;
    document.getElementById("email").value = pessoa.email;
    document.getElementById("nascimento").value = pessoa.nascimento; // TODO nao esta preenchendo na tela
    document.getElementById("cidade").value = pessoa.cidade;
    document.getElementById("password").value = pessoa.password;
    document.getElementById("btnSalvar").innerText = "Salvar"
  }
</script>

<%- include('../footer') -%>
